* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size-default;
    font-family: 'Poppins', sans-serif;
    font-weight: $font-weight-regular;
    color: $riverBed;
    overflow-x: hidden;
}
body {
    
}

a {
    text-decoration: none;
    color: $primaryCerulean;
}