// colors
$riverBed: #455363;
$geyser: #CFD8DC;
$primaryCerulean: #03A9F4;
$pattensBlue: #E1F5FE;
$bahamaBlue: #01579B;
$lochmara: #0277BD;
$bunker: #0D1117;
$mercury: #e9e9e9;
$silverChalice: #9e9e9e;
$orangePeel: #FF9800;
$cuttySark: #546E7A;
// font

$font-size-base: 16px;

$font-size-small: rem(14px);
$font-size-default: rem(16px);
$font-size-big: rem(20px);
$font-size-huge: rem(24px);

$title-size-small: rem(20px);
$title-size-medium: rem(26px);
$title-size-big: rem(30px);
$title-size-huge: rem(36px);

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// breakpoints 

$screen-tablet:  "min-width: 768px";
$screen-desktop: "min-width: 1280px";

// paddings 

$padding-default: rem(20px);